{
    "openapi": "3.0.1",
    "info": {
        "title": "TMDB API",
        "version": "3"
    },
    "servers": [
        {
            "url": "https://api.themoviedb.org/3"
        },
        {
            "url": "http://api.themoviedb.org/3"
        }
    ],
    "paths": {
        "/account": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Details",
                "description": "Get your account details.",
                "operationId": "get-current-account-details",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/account-details"
                                },
                                "example": {
                                    "avatar": {
                                        "gravatar": {
                                            "hash": "c9e9fc152ee756a900db85757c29815d"
                                        }
                                    },
                                    "id": 548,
                                    "iso_639_1": "en",
                                    "iso_3166_1": "CA",
                                    "name": "Travis Bell",
                                    "include_adult": true,
                                    "username": "travisbell"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/lists": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Created Lists",
                "description": "Get all of the lists created by an account. Will invlude private lists if you are the owner.",
                "operationId": "get-current-account-lists-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lists-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "description": "Name pretty much says it all, here's the top 50 grossing films of all time.",
                                            "favorite_count": 0,
                                            "id": 10,
                                            "item_count": 0,
                                            "iso_639_1": "en",
                                            "list_type": "movie",
                                            "name": "Top 50 Grossing Films of All Time (Worldwide)"
                                        }
                                    ],
                                    "total_pages": 4,
                                    "total_results": 61
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/favorite/movies": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Favorite Movies",
                "description": "Get the list of your favorite movies.",
                "operationId": "get-account-favorite-movies-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/movie-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "adult": false,
                                            "genre_ids": [
                                                16
                                            ],
                                            "id": 9806,
                                            "original_language": "en",
                                            "original_title": "The Incredibles",
                                            "overview": "Bob Parr has given up his superhero days to log in time as an insurance adjuster and raise his three children with his formerly heroic wife in suburbia. But when he receives a mysterious assignment, it's time to get back into costume.",
                                            "release_date": "2004-11-04",
                                            "popularity": 0.167525,
                                            "title": "The Incredibles",
                                            "video": false,
                                            "vote_average": 6.8,
                                            "vote_count": 1584
                                        }
                                    ],
                                    "total_pages": 4,
                                    "total_results": 77
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/favorite/tv": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Favorite TV Shows",
                "description": "Get the list of your favorite TV shows.",
                "operationId": "get-account-favorite-tv-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/tv-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "first_air_date": "2007-09-24",
                                            "genre_ids": [
                                                10759
                                            ],
                                            "id": 1404,
                                            "original_language": "en",
                                            "original_name": "Chuck",
                                            "overview": "Chuck is an American action-comedy/spy-drama television series created by Josh Schwartz and Chris Fedak. The series is about an \"average computer-whiz-next-door\" named Chuck, played by Zachary Levi, who receives an encoded e-mail from an old college friend now working for the Central Intelligence Agency; the message embeds the only remaining copy of a software program containing the United States' greatest spy secrets into Chuck's brain.",
                                            "origin_country": [
                                                "US"
                                            ],
                                            "popularity": 0.125125,
                                            "name": "Chuck",
                                            "vote_average": 8.2,
                                            "vote_count": 37
                                        }
                                    ],
                                    "total_pages": 3,
                                    "total_results": 52
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/favorite": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Mark as Favorite",
                "description": "This method allows you to mark a movie or TV show as a favorite item.",
                "operationId": "post-account-favorite",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json;charset=utf-8"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/media-favorite-body"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/account/{account_id}/rated/movies": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Rated Movies",
                "description": "Get a list of all the movies you have rated.",
                "operationId": "get-account-rated-movies-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/movie-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "adult": false,
                                            "genre_ids": [
                                                28
                                            ],
                                            "id": 155,
                                            "original_language": "en",
                                            "original_title": "The Dark Knight",
                                            "overview": "Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",
                                            "release_date": "2008-07-18",
                                            "popularity": 0.293783,
                                            "title": "The Dark Knight",
                                            "video": false,
                                            "vote_average": 7.9,
                                            "vote_count": 5504,
                                            "rating": 9
                                        }
                                    ],
                                    "total_pages": 31,
                                    "total_results": 605
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/rated/tv": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Rated TV Shows",
                "description": "Get a list of all the TV shows you have rated.",
                "operationId": "get-account-rated-tv-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/tv-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "first_air_date": "2008-09-09",
                                            "genre_ids": [
                                                18
                                            ],
                                            "id": 1705,
                                            "original_language": "en",
                                            "original_name": "Fringe",
                                            "overview": "Fringe is an American science fiction television series that follows Olivia Dunham, Peter Bishop, and Walter Bishop, members of a Federal Bureau of Investigation \"Fringe Division\" team based in Boston, Massachusetts under the supervision of Homeland Security. The team uses \"fringe\" science and FBI investigative techniques to investigate a series of unexplained, often ghastly occurrences, which are related to mysteries surrounding a parallel universe. The series has been described as a hybrid of The X-Files, Altered States, and The Twilight Zone.",
                                            "origin_country": [
                                                "US"
                                            ],
                                            "popularity": 0.372415,
                                            "name": "Fringe",
                                            "vote_average": 8.4,
                                            "vote_count": 46,
                                            "rating": 9
                                        }
                                    ],
                                    "total_pages": 7,
                                    "total_results": 139
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/rated/tv/episodes": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Rated TV Episodes",
                "description": "Get a list of all the TV episodes you have rated.",
                "operationId": "get-account-rated-tv-episodes-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/tv-episodes-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "air_date": "2013-10-15",
                                            "episode_number": 5,
                                            "name": "The Workplace Proximity",
                                            "id": 64782,
                                            "season_number": 7,
                                            "show_id": 1418,
                                            "vote_average": 8.5,
                                            "vote_count": 3,
                                            "rating": 8
                                        }
                                    ],
                                    "total_pages": 2,
                                    "total_results": 21
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/watchlist/movies": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Movie Watchlist",
                "description": "Get a list of all the movies you have added to your watchlist.",
                "operationId": "get-account-watchlist-movies-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/movie-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "adult": false,
                                            "genre_ids": [
                                                18
                                            ],
                                            "id": 76726,
                                            "original_language": "it",
                                            "original_title": "Chronicle",
                                            "overview": "Three high school students make an incredible discovery, leading to their developing uncanny powers beyond their understanding. As they learn to control their abilities and use them to their advantage, their lives start to spin out of control, and their darker sides begin to take over.",
                                            "release_date": "2012-02-02",
                                            "popularity": 0.237951,
                                            "title": "Chronicle",
                                            "video": false,
                                            "vote_average": 6.2,
                                            "vote_count": 545
                                        }
                                    ],
                                    "total_pages": 14,
                                    "total_results": 277
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/watchlist/tv": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get TV Show Watchlist",
                "description": "Get a list of all the TV shows you have added to your watchlist.",
                "operationId": "get-account-watchlist-tv-paginated",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort the results.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at.asc",
                                "created_at.desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/tv-paginated"
                                },
                                "example": {
                                    "page": 1,
                                    "results": [
                                        {
                                            "first_air_date": "2013-09-26",
                                            "genre_ids": [
                                                35
                                            ],
                                            "id": 58932,
                                            "original_language": "en",
                                            "original_name": "The Crazy Ones",
                                            "overview": "The Crazy Ones is an American situation comedy series created by David E. Kelley that stars Robin Williams and Sarah Michelle Gellar. The single-camera project premiered on CBS on September 26, 2013, as part of the 2013–14 American television season as a Thursday night 9 pm entry. Bill D'Elia, Dean Lorey, Jason Winer, John Montgomery and Mark Teitelbaum serve as executive producers for 20th Century Fox Television.",
                                            "origin_country": [
                                                "US"
                                            ],
                                            "popularity": 0.075407,
                                            "name": "The Crazy Ones",
                                            "vote_average": 5.3,
                                            "vote_count": 4
                                        }
                                    ],
                                    "total_pages": 4,
                                    "total_results": 64
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/account/{account_id}/watchlist": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add to Watchlist",
                "description": "Add a movie or TV show to your watchlist.",
                "operationId": "post-account-watchlist",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json;charset=utf-8"
                        }
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/media-watchlist-body"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/authentication/guest_session/new": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Guest Session",
                "description": "This method will let you create a new guest session. Guest sessions are a type of session that will let a user rate movies and TV shows but not require them to have a TMDb user account. More information about user authentication can be found [here](#docTextSection:NSZtgz7zptsiLYxXZ).\n\nPlease note, you should only generate a single guest session per user (or device) as you will be able to attach the ratings to a TMDb user account in the future. There is also IP limits in place so you should always make sure it's the end user doing the guest session actions.\n\nIf a guest session is not used for the first time within 24 hours, it will be automatically deleted.",
                "operationId": "get-new-authentication-guest-session",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/guest-session-response"
                                },
                                "example": {
                                    "success": true,
                                    "guest_session_id": "1ce82ec1223641636ad4a60b07de3581",
                                    "expires_at": "2016-08-27 16:26:40 UTC"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/token/new": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Request Token",
                "description": "Create a temporary request token that can be used to validate a TMDb user login. More details about how this works can be found [here](#docTextSection:NSZtgz7zptsiLYxXZ).",
                "operationId": "get-new-authentication-token",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/token-response-with-expiration"
                                },
                                "example": {
                                    "success": true,
                                    "expires_at": "2016-08-26 17:04:39 UTC",
                                    "request_token": "ff5c7eeb5a8870efe3cd7fc5c282cffd26800ecd"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/session": {
            "delete": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Delete Session",
                "description": "If you would like to delete (or \"logout\") from a session, call this method with a valid session ID.",
                "operationId": "delete-authentication-session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/success-response"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/session/convert/4": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Session (from v4 access token)",
                "description": "Use this method to create a v3 session ID if you already have a valid v4 access token. The v4 token needs to be authenticated by the user. Your standard \"read token\" will not validate to create a session ID.",
                "operationId": "post-authentication-session-convert-4",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/access-token-body"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/session-response"
                                },
                                "example": {
                                    "success": true,
                                    "session_id": "2629f70fb498edc263a0adb99118ac41f0053e8c"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/authentication/session/new": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Session",
                "description": "You can use this method to create a fully valid session ID once a user has validated the request token. More information about how this works can be found [here](#docTextSection:NSZtgz7zptsiLYxXZ).",
                "operationId": "get-new-authentication-session",
                "parameters": [
                    {
                        "name": "request_token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/session-response"
                                },
                                "example": {
                                    "success": true,
                                    "session_id": "79191836ddaa0da3df76a5ffef6f07ad6ab0c641"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/authentication/token/validate_with_login": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Validate Request Token",
                "description": "This method allows an application to validate a request token by entering a username and password.\n\n#### Caution\nPlease note, using this method is **strongly discouraged**. The preferred method of validating a request token is to have a user authenticate the request via the TMDb website. You can read about that method [here](#docTextSection:NSZtgz7zptsiLYxXZ).",
                "operationId": "get-validate-authentication-token-with-login",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "request_token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/token-response"
                                },
                                "example": {
                                    "success": true,
                                    "request_token": "496584e52d7d11cc6f44a1302fa89598c0addc85"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/certification/movie/list": {
            "get": {
                "tags": [
                    "Certifications"
                ],
                "summary": "Get Movie Certifications",
                "description": "Get an up to date list of the officially supported movie certifications on TMDb.",
                "operationId": "get-movie-certifications-list",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/certifications"
                                },
                                "example": {
                                    "certifications": {
                                        "US": [
                                            {
                                                "certification": "G",
                                                "meaning": "All ages admitted. There is no content that would be objectionable to most parents. This is one of only two ratings dating back to 1968 that still exists today.",
                                                "order": 1
                                            },
                                            {
                                                "certification": "PG-13",
                                                "meaning": "Some material may be inappropriate for children under 13. Films given this rating may contain sexual content, brief or partial nudity, some strong language and innuendo, humor, mature themes, political themes, terror and/or intense action violence. However, bloodshed is rarely present. This is the minimum rating at which drug content is present.",
                                                "order": 3
                                            },
                                            {
                                                "certification": "R",
                                                "meaning": "Under 17 requires accompanying parent or adult guardian 21 or older. The parent/guardian is required to stay with the child under 17 through the entire movie, even if the parent gives the child/teenager permission to see the film alone. These films may contain strong profanity, graphic sexuality, nudity, strong violence, horror, gore, and strong drug use. A movie rated R for profanity often has more severe or frequent language than the PG-13 rating would permit. An R-rated movie may have more blood, gore, drug use, nudity, or graphic sexuality than a PG-13 movie would admit.",
                                                "order": 4
                                            },
                                            {
                                                "certification": "NC-17",
                                                "meaning": "These films contain excessive graphic violence, intense or explicit sex, depraved, abhorrent behavior, explicit drug abuse, strong language, explicit nudity, or any other elements which, at present, most parents would consider too strong and therefore off-limits for viewing by their children and teens. NC-17 does not necessarily mean obscene or pornographic in the oft-accepted or legal meaning of those words.",
                                                "order": 5
                                            },
                                            {
                                                "certification": "NR",
                                                "meaning": "No rating information.",
                                                "order": 0
                                            },
                                            {
                                                "certification": "PG",
                                                "meaning": "Some material may not be suitable for children under 10. These films may contain some mild language, crude/suggestive humor, scary moments and/or violence. No drug content is present. There are a few exceptions to this rule. A few racial insults may also be heard.",
                                                "order": 2
                                            }
                                        ],
                                        "CA": [
                                            {
                                                "certification": "18A",
                                                "meaning": "Persons under 18 years of age must be accompanied by an adult. In the Maritimes & Manitoba, children under the age of 14 are prohibited from viewing the film.",
                                                "order": 4
                                            },
                                            {
                                                "certification": "G",
                                                "meaning": "All ages.",
                                                "order": 1
                                            },
                                            {
                                                "certification": "PG",
                                                "meaning": "Parental guidance advised. There is no age restriction but some material may not be suitable for all children.",
                                                "order": 2
                                            },
                                            {
                                                "certification": "14A",
                                                "meaning": "Persons under 14 years of age must be accompanied by an adult.",
                                                "order": 3
                                            },
                                            {
                                                "certification": "A",
                                                "meaning": "Admittance restricted to people 18 years of age or older. Sole purpose of the film is the portrayal of sexually explicit activity and/or explicit violence.",
                                                "order": 5
                                            }
                                        ],
                                        "FR": [
                                            {
                                                "certification": "U",
                                                "meaning": "(Tous publics) valid for all audiences.",
                                                "order": 1
                                            },
                                            {
                                                "certification": "12",
                                                "meaning": "(Interdit aux moins de 12 ans) unsuitable for children younger than 12 or forbidden in cinemas for under 12.",
                                                "order": 3
                                            },
                                            {
                                                "certification": "10",
                                                "meaning": "(Déconseillé aux moins de 10 ans) unsuitable for children younger than 10 (this rating is only used for TV); equivalent in theatres : \"avertissement\" (warning), some scenes may be disturbing to young children and sensitive people; equivalent on video : \"accord parental\" (parental guidance).",
                                                "order": 2
                                            },
                                            {
                                                "certification": "16",
                                                "meaning": "(Interdit aux moins de 16 ans) unsuitable for children younger than 16 or forbidden in cinemas for under 16.",
                                                "order": 4
                                            },
                                            {
                                                "certification": "18",
                                                "meaning": "(Interdit aux mineurs) unsuitable for children younger than 18 or forbidden in cinemas for under 18.",
                                                "order": 5
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/certification/tv/list": {
            "get": {
                "tags": [
                    "Certifications"
                ],
                "summary": "Get TV Certifications",
                "description": "Get an up to date list of the officially supported TV show certifications on TMDb.",
                "operationId": "get-tv-certifications-list",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/certifications"
                                },
                                "example": {
                                    "certifications": {
                                        "RU": [
                                            {
                                                "certification": "18+",
                                                "meaning": "Restricted to People 18 or Older.",
                                                "order": 5
                                            },
                                            {
                                                "certification": "0+",
                                                "meaning": "Can be watched by Any Age.",
                                                "order": 1
                                            },
                                            {
                                                "certification": "6+",
                                                "meaning": "Only kids the age of 6 or older can watch.",
                                                "order": 2
                                            },
                                            {
                                                "certification": "12+",
                                                "meaning": "Only kids the age of 12 or older can watch.",
                                                "order": 3
                                            },
                                            {
                                                "certification": "16+",
                                                "meaning": "Only teens the age of 16 or older can watch.",
                                                "order": 4
                                            }
                                        ],
                                        "US": [
                                            {
                                                "certification": "NR",
                                                "meaning": "No rating information.",
                                                "order": 0
                                            },
                                            {
                                                "certification": "TV-Y",
                                                "meaning": "This program is designed to be appropriate for all children.",
                                                "order": 1
                                            },
                                            {
                                                "certification": "TV-Y7",
                                                "meaning": "This program is designed for children age 7 and above.",
                                                "order": 2
                                            },
                                            {
                                                "certification": "TV-G",
                                                "meaning": "Most parents would find this program suitable for all ages.",
                                                "order": 3
                                            },
                                            {
                                                "certification": "TV-PG",
                                                "meaning": "This program contains material that parents may find unsuitable for younger children.",
                                                "order": 4
                                            },
                                            {
                                                "certification": "TV-14",
                                                "meaning": "This program contains some material that many parents would find unsuitable for children under 14 years of age.",
                                                "order": 5
                                            },
                                            {
                                                "certification": "TV-MA",
                                                "meaning": "This program is specifically designed to be viewed by adults and therefore may be unsuitable for children under 17.",
                                                "order": 6
                                            }
                                        ],
                                        "FR": [
                                            {
                                                "certification": "NR",
                                                "meaning": "No rating information.",
                                                "order": 0
                                            },
                                            {
                                                "certification": "10",
                                                "meaning": "Not recommended for children under 10. Not allowed in children's television series.",
                                                "order": 1
                                            },
                                            {
                                                "certification": "12",
                                                "meaning": "Not recommended for children under 12. Not allowed air before 10:00 p.m. Some channels and programs are subject to exception.",
                                                "order": 2
                                            },
                                            {
                                                "certification": "16",
                                                "meaning": "Not recommended for children under 16. Not allowed air before 10:30 p.m. Some channels and programs are subject to exception.",
                                                "order": 3
                                            },
                                            {
                                                "certification": "18",
                                                "meaning": "Not recommended for persons under 18. Allowed between midnight and 5 a.m. and only in some channels, access to these programs is locked by a personal password.",
                                                "order": 4
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/collection/{collection_id}": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get Details",
                "description": "Get collection details by id.",
                "operationId": "get-collection-details",
                "parameters": [
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/collection-object"
                                },
                                "example": {
                                    "id": 10,
                                    "name": "Star Wars Collection",
                                    "overview": "An epic space opera theatrical film series created by George Lucas.\r The first film in the franchise was originally released on May 25, 1977, by 20th Century Fox, and became a worldwide pop culture  phenomenon, followed by two sequels, released at three-year intervals. Sixteen years after the release of the trilogy's final film, the first in a new prequel trilogy of films was released, again released at three-year intervals, with the final film released on May 19, 2005.",
                                    "backdrop_path": "/shDFE0i7josMt9IKXdYpnMFFgNV.jpg",
                                    "parts": [
                                        {
                                            "adult": false,
                                            "genre_ids": [
                                                12
                                            ],
                                            "id": 11,
                                            "original_language": "en",
                                            "original_title": "Star Wars: Episode IV - A New Hope",
                                            "overview": "Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.",
                                            "release_date": "1977-05-23",
                                            "poster_path": "/AbJBXaVPrdXROwb8KmgWUPU2XJX.jpg",
                                            "popularity": 1.411624,
                                            "title": "Star Wars: Episode IV - A New Hope",
                                            "video": false,
                                            "vote_average": 7.7,
                                            "vote_count": 2472
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/collection/{collection_id}/images": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get Images",
                "description": "Get the images for a collection by id.",
                "operationId": "get-collection-images-list",
                "parameters": [
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Pass a ISO 639-1 value to display translated data for the fields that support it.",
                        "schema": {
                            "minLength": 2,
                            "pattern": "([a-z]{2})-([A-Z]{2})",
                            "type": "string",
                            "default": "<<language>>"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/images"
                                },
                                "example": {
                                    "id": 10,
                                    "backdrops": [
                                        {
                                            "aspect_ratio": 1.77777777777778,
                                            "file_path": "/shDFE0i7josMt9IKXdYpnMFFgNV.jpg",
                                            "height": 1080,
                                            "vote_average": 5.3125,
                                            "vote_count": 1,
                                            "width": 1920
                                        }
                                    ],
                                    "posters": [
                                        {
                                            "aspect_ratio": 0.666666666666667,
                                            "file_path": "/hznxm4di88tWJHiCGWYDXeKk1Ih.jpg",
                                            "height": 1500,
                                            "iso_639_1": "en",
                                            "vote_average": 5.3125,
                                            "vote_count": 1,
                                            "width": 1000
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
                                "example": {
                                    "status_code": 200,
                                    "status_message": "The item/record was updated successfully."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/status-code-message"
                                },
[...]
